/* Style the body */
body {
  
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Style the form container */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rebeccapurple;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Style the header */
h1 {
  text-align: center;
  color: #333;
}

/* Style the input fields */
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the buttons */
button[type="button"] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

/* Style the button on hover */
button[type="button"]:hover {
  background-color: #0056b3;
}

/* Style the paragraphs displaying results */
p {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}

/* Center align text */
center {
  text-align: center;
}

/* Style the logout button */
#logout-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}

/* Style the logout button on hover */
#logout-button:hover {
  background-color: #c82333;
}

